<!DOCTYPE html>
<html>
    <head>
    	<title>CEU - Centro Unificado Educacional Parque Bristol</title>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=poppins">
        <link rel="stylesheet" type="text/css" href="/projetoID/static/styles/ceu_style.css"/>
        <script src="https://kit.fontawesome.com/2f4f762cce.js" crossorigin="anonymous"></script>
    </head>
	<body class="d-flex flex-column flex-md-row bg-primaryColor">
        <aside id="asideNav" class="d-flex flex-md-column gap-4 p-4 bg-info">
            <figure class="d-flex justify-content-center">
                <img src="/projetoID/static/assets/img/logo_ceu_retangular.png" alt="" class="img-fluid col-8 col-md-9">
            </figure>
 
            <a href="" class="p-2 bg-primaryColor text-white text-decoration-none d-flex gap-2 justify-content-center align-items-center rounded"  >
                <i class="fa-solid fa-user-plus"></i>
                    Criar usuário
            </a>
            <a href="" class="p-2 bg-primaryColor text-white text-decoration-none d-flex gap-2 align-items-center justify-content-center rounded "  >
                <i class="fa-solid fa-magnifying-glass"></i> 
                    Buscar usuário
            </a>
        </aside>

        <main class="w-100 d-flex flex-column gap-2">
            <div class="d-flex gap-3 justify-content-end pe-5 p-4">
                <i class="fa-solid fa-gear text-white fs-3 "></i>
                
                <i class="fa-solid fa-right-from-bracket text-white fs-3 "></i>
            </div>
            
            <div class="text-white fs-5 d-flex gap-2 px-5">
                <a href="" class="text-decoration-none">
                    <i class="fa-solid fa-house text-white"></i>
                </a><span> / </span>
                <p class="">Criar Usuário > Passo 1 de 4</p>
            </div>

            <section class="rounded-4  bg-white d-flex flex-column m-5 mt-1">
                <form action="" class="p-5 d-flex flex-column gap-2 fw-bold text-primaryColor">
                    
                        <p>Campos marcados com * são obrigatórios.</p>
                        
                        <p class="form-label">O usuário é menor de idade?</p>
                        <div class="d-flex gap-3 mb-5">
                            <div>
                                <input type="radio" name="under-age" value="yes">
                                <label for="Yes">Sim</label><br>

                            </div>
                            <div>
                                <input type="radio" name="under-age" value="no">
                                <label for="No">Não</label><br>
                            </div>
                        </div> 
                    
                    <div class="d-flex flex-column gap-3 flex-md-row gap-md-5">
                        <div class="mb-3 col-md-5 ">
                            
                            <label for="nome_completo_responsavel" class="form-label">Nome completo do responsável*</label>
                            <input class="form-control" type="text" id="nome_completo_responsavel" placeholder="Preencha esse campo se o usuário for menor de 18 anos" name="nome_completo_responsavel" value="" required>
                            				
                        </div>
                        
                        <div class="mb-3 col-md-6" >
                            <label for="eol" class="form-label">EOL</label>
                            
                            <input class="form-control  p-2" type="text" name="eol" placeholder="Preencha esse campo se o usuário for menor de 18 anos" value="" required>
                        </div>   
                    
                    </div>

                    <div class="d-flex flex-column gap-3 flex-md-row gap-md-5">
                        <div class="mb-3 col-md-5" >
                            <label for="nomeCompleto" class="form-label">Nome Completo</label>
                            
                            <input class="form-control  p-2" type="text" name="nomeCompleto"  value="" required>
                        </div>
    
                        <div class="mb-3 col-md-6">
                            <label for="nome_social" class="form-label">Nome social (se tiver)</label>
                            
                            <input class="form-control  p-2" type="text" name="nome_social"  required>					
                        </div>

                    </div>

                    <div class="mb-3 col-md-5" >
                        <label for="raca_cor">Raça/cor*</label>
                        <select name="raca_cor" class="form-select p-2 mb-1">
                        <option value="valor0">Selecione raça/cor</option>
                        <option value="valor1">Preta</option>
                        <option value="valor2">Parda</option>
                        <option value="valor3">Branca</option>
                        <option value="valor3">Indígena</option>
                        <option value="valor3">Amarela</option>
                        <option value="valor3">Prefiro não responder</option>
                        </select>
                        
                    </div>
                    
                      <div class="d-flex flex-column gap-3 flex-md-row gap-md-5">
                        <div class="mb-3 col-md-5" >
                            <label for="cidade" class="form-label">Natural de (cidade)*</label>
                            
                            <input class="form-control  p-2" type="text" name="cidade"  value="" required>
                        </div>
    
                        <div class="mb-3 col-md-6">
                            <label for="uf">UF*</label>
                            <select name="uf" class="form-select">
                                <option value="valor0">Selecione a Unidade Federativa</option>
                                <option value="valor1">SP</option>
                            </select>					
                        </div>

                    </div>

                    <div class="d-flex flex-column gap-3 flex-md-row gap-md-5">
                        <div class="mb-3 col-md-5" >
                            <label for="data_nasc" class="form-label">Data de nascimento*</label>
                            
                            <input class="form-control  p-2" type="date" name="data_nasc"  value="" required>
                        </div>
    
                        <div class="mb-3 col-md-6">
                            <label for="idade" class="form-label">Idade*</label>
                            
                            <input class="form-control  p-2" type="text" name="idade"  required>					
                        </div>

                    </div>

                    <div class="d-flex flex-column gap-3 flex-md-row gap-md-5">
                        <div class="mb-3 col-md-5" >
                            <label for="cert_nasc" class="form-label">Certidão de nascimento*</label>
                            
                            <input class="form-control  p-2" type="text" name="cert_nasc"  value="" required>
                        </div>
    
                        <div class="mb-3 col-md-6">
                            <label for="cert_model_antigo" class="form-label">Certidão (modelo antigo)</label>
                            <div class="rounded d-flex flex-wrap gap-1 ">
                                <label for="">Folha</label>
                                <input class="form-control p-2" type="text" name="cert_model_antigo">
                                <label for="">Livro</label>
                                <input class="form-control p-2" type="text" name="cert_model_antigo">
                                <label for="">N.o</label>
                                <input class="form-control p-2" type="number" name="cert_model_antigo">				
                            </div>
                        </div>

                    </div>

                    <div class="d-flex flex-column gap-3 flex-md-row gap-md-5">
                        <div class="mb-3 col-md-5" >
                            <label for="rg" class="form-label">RG*</label>
                            
                            <input class="form-control p-2" type="text" name="rg"  value="" required>
                        </div>
    
                        <div class="mb-3 col-md-5" >
                            <label for="cert_nasc" class="form-label">Data da expedição*</label>
                            
                            <input class="form-control p-2" type="date" name="cert_nasc"  value="" required>
                        </div>

                    </div>

                    <p class="form-label">É portador de alguma necessidade especial?</p>
                        <div class="d-flex gap-3 mb-4">
                            <div>
                                <input type="radio" name="pcd" value="yes">
                                <label for="Yes">Sim</label><br>

                            </div>
                            <div>
                                <input type="radio" name="pcd" value="no">
                                <label for="No">Não</label><br>
                            </div>

                        
                        </div>   
                        <textarea placeholder="Preencha este campo se a resposta for 'sim'." class="rounded col-12 col-md-5"></textarea>
                    

                    <button type="submit" class="rounded bg-primaryColor fw-bold text-white p-2 border-0 mt-4 col-12 col-md-6" onclick="" >Próximo passo</button>
                </form>
            </section>
            

            
        </main>
        
    </body
</html>
	
