<!DOCTYPE html>
<html>
    <head>
    	<title>CEU - Centro Unificado Educacional Parque Bristol</title>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=poppins">
        <link rel="stylesheet" type="text/css" href="/projetoID/static/styles/ceu_style.css"/>
        <script src="https://kit.fontawesome.com/2f4f762cce.js" crossorigin="anonymous"></script>
    </head>
	<body class="d-flex flex-column flex-md-row">
        <aside id="asideNav" class="d-flex flex-md-column gap-4 p-4 bg-info">
            <figure class="d-flex justify-content-center">
                <img src="/projetoID/static/assets/img/logo_ceu_retangular.png" alt="" class="img-fluid col-8 col-md-9">
            </figure>
 
            <a href="" class="p-2 bg-primaryColor text-white text-decoration-none d-flex gap-2 justify-content-center align-items-center rounded"  >
                <i class="fa-solid fa-user-plus"></i>
                    Criar usuário
            </a>
            <a href="" class="p-2 bg-primaryColor text-white text-decoration-none d-flex gap-2 align-items-center justify-content-center rounded "  >
                <i class="fa-solid fa-magnifying-glass"></i> 
                    Buscar usuário
            </a>
        </aside>

        <main class="w-100 bg-primaryColor d-flex flex-column gap-2">
            <div class="d-flex gap-3 justify-content-end pe-5 p-4">
                <i class="fa-solid fa-gear text-white fs-3 "></i>
                
                <i class="fa-solid fa-right-from-bracket text-white fs-3 "></i>
            </div>
            
            <div class="text-white fs-5 d-flex gap-2 px-4">
                <a href="" class="text-decoration-none">
                    <i class="fa-solid fa-house text-white"></i>
                </a><span> / </span>
                <p class="">Editar usuário - Enviar documentos > Passo 4 de 4</p>
            </div>

            <section class="rounded-4  bg-white d-flex flex-column m-5 mt-1">
                <form action="" class="p-5 d-flex flex-column gap-2 fw-bold text-primaryColor">
                    <table class="table_stripped text-primaryColor w-100">
                        <thead>
                            <tr class="p-1">
                                <th class="col-6 p-3 rounded-3 bg-info" scope="col">DOCUMENTOS</th>
                                <th class="col-6 p-3 rounded-3 bg-info" scope="col">AÇÕES</th>"						
                            </tr>
                        </thead>

                        <tbody class="text-primaryColor fw-bold">
                            <tr>
                                <td class="">Foto 3X4 colorida - atual</td>
                                <td class="">
                                    <div class="d-flex gap-1 ">
                                    
                                        <label for="selecao-arquivo" class="input-file"> <i class="fa-solid fa-upload"></i> Enviar documentos</label>
                                        <input id="selecao-arquivo" type="file" >
                                        
                                        <label for="selecao-arquivo" class="input-file"> <i class="fa-solid fa-download"></i> Baixar documentos</label>
                                        <input id="selecao-arquivo" type="file" >
                                    </div>
                                </td>
                            </tr>
                       
                            <tr>
                                <td class="">RG - usuário</td>
                                <td class="">
                                    <div class="d-flex gap-1 ">
                                    
                                        <label for="selecao-arquivo" class="input-file"> <i class="fa-solid fa-upload"></i> Enviar documentos</label>
                                        <input id="selecao-arquivo" type="file" >
                                        
                                        <label for="selecao-arquivo" class="input-file"> <i class="fa-solid fa-download"></i> Baixar documentos</label>
                                        <input id="selecao-arquivo" type="file" >
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="">Certidão de nascimento - usuário</td>
                                <td class="">
                                    <div class="d-flex gap-1 ">
                                    
                                        <label for="selecao-arquivo" class="input-file"> <i class="fa-solid fa-upload"></i> Enviar documentos</label>
                                        <input id="selecao-arquivo" type="file" >
                                        
                                        <label for="selecao-arquivo" class="input-file"> <i class="fa-solid fa-download"></i> Baixar documentos</label>
                                        <input id="selecao-arquivo" type="file" >
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="">RG - responsável</td>
                                <td class="">
                                    <div class="d-flex gap-1 ">
                                    
                                        <label for="selecao-arquivo" class="input-file"> <i class="fa-solid fa-upload"></i> Enviar documentos</label>
                                        <input id="selecao-arquivo" type="file" >
                                        
                                        <label for="selecao-arquivo" class="input-file"> <i class="fa-solid fa-download"></i> Baixar documentos</label>
                                        <input id="selecao-arquivo" type="file" >
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="">Comprovante de residência</td>
                                <td class="">
                                    <div class="d-flex gap-1 ">
                                    
                                        <label for="selecao-arquivo" class="input-file"> <i class="fa-solid fa-upload"></i> Enviar documentos</label>
                                        <input id="selecao-arquivo" type="file" >

                                        <label for="selecao-arquivo" class="input-file"> <i class="fa-solid fa-download"></i> Baixar documentos</label>
                                        <input id="selecao-arquivo" type="file" >
            					
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="">Autorização assinada</td>
                                <td class="">
                                    <div class="d-flex gap-1 ">
                                    
                                        <label for="selecao-arquivo" class="input-file"> <i class="fa-solid fa-upload"></i> Enviar documentos</label>
                                        <input id="selecao-arquivo" type="file" >
                                        
                                        <label for="selecao-arquivo" class="input-file"> <i class="fa-solid fa-download"></i> Baixar documentos</label>
                                        <input id="selecao-arquivo" type="file" >
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    

                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <a href="" class="rounded bg-primaryColor text-white p-2 border-0 mt-4 col-12 col-md-5 text-decoration-none text-center" >Passo Anterior</a>
                        
                        <button type="submit" class="rounded bg-primaryColor text-white p-2 border-0 mt-4 col-12 col-md-5 fw-bold" onclick="" >Gravar</button>
                    </div>
                    
                </form>
            </section>
            

            
        </main>
        
    </body
</html>
	