<!DOCTYPE html>
<html>
	<head>
    	<title>CEU - Centro Unificado Educacional Parque Bristol</title>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=poppins">
		<link rel="stylesheet" type="text/css" href="/projetoID/static/styles/ceu_style.css"/>
	</head>

	<body class="p-5 bg-primaryColor d-flex justify-content-center align-items-center vh-100">
					
			<div class="d-flex flex-column flex-md-row">

				<div id="principal-logo-div" class="bg-info rounded-start-4 d-flex flex-column justify-content-center align-items-center">
					<img src="/projetoID/static/assets/img/logo_ceu_redondo.png" alt="Logo redondo do Centro educacional unificado Parque Bristol" class="p-5" />
				</div>
				
				<div id="principal-login-div" class="p-5 bg-white justify-content-center d-flex flex-column rounded-end-4">				
					<!-- {% if messages %}
						{% for message in messages %}
						<span {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message|safe }}</span>
						{% endfor %}
					  {% endif %}				 -->
					
					<!-- Formulário: Login -->
					<form action="" method="post" class="container">
						<!-- {% csrf_token %} -->
						<fieldset >
							<fieldset class="fs-3 fw-bold">Login / Usuário</fieldset>
							<p class="">Preencha os campos abaixo e acesse a sua conta.</p>
							
							<div class="mb-3">
								<label for="email" class="form-label fw-bold text-primaryColor">Endereço de email</label>
								<input class="form-control" type="email" id="email" name="email" maxlength="30" required>
							</div>
							
							<div class="mb-3">
								<label for="senha" class="form-label fw-bold text-primaryColor">Senha</label>
								<input class="form-control " type="password" id="senha" name="senha" maxlength="15" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,15}$" required>
								<span class="tooltip" data-tooltip="A senha deve conter no mínimo 8 e no máximo 15 caracteres. Deve incluir pelo menos uma letra maiúscula, uma letra minúscula, um número e um dos seguintes caracteres especiais: @ $ ! % * ? &">?</span>						
							</div>
	
							
							<button class="rounded p-2 w-100 text-white bg-primaryColor" value="Entrar" type="submit">Entrar</button>
						
						</fieldset>
					</form>
					
					<p class="text-start px-2 pt-2">Não cadastrado? <a href=""><b>Crie sua conta</b></a></p>
	
				</div>
			</div>
			

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>	
	</body>
</html>