:root {
    --primary: #72a9c4;
    --darkBlue: #123C69;
    --darkBlue-50: #1B5A9D;


    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--darkBlue);
    
}


@media (max-width: 680px){
    #principal-logo-div {
       
        border-top-right-radius: 5%;
        border-bottom-left-radius: 0%;
    }

    #principal-logo-div > img{
        width: 60%;
    }
}


.text-primaryColor{
    color: var(--darkBlue);
}

.bg-primaryColor {
    background-color: var(--darkBlue);
}

.bg-primaryColor-50{
    background-color: var(--darkBlue-50);
}

.sectioWidth{
    width: 90%;
}

#asideNav{
    
    min-width: 250px;
}

.action-button{
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    padding: 5px;
    color: var(--darkBlue);
    background-color: white;
    font-weight: 500;
    border: 2px solid #123C69;
}


/* .bg-primaryColor:hover{
    background-color: var(--darkBlue-50);
} */

.table_stripped tr:nth-child(odd) {
    background-color:#e9edf0;
}

.table_stripped tr:nth-child(even) {
    background-color:#d0e3f3;
}

tbody tr td {
    padding: 10px;
    border-radius: 10px;
}

/*botão selecionar arquivo*/
input[type='file'] {
    display: none
  }
  
  /* Aparência que terá o seletor de arquivo */
label.input-file{
    background-color: white;
    border-radius: 10px;
    border: 2px solid var(--darkBlue);
    color: var(--darkBlue);
    cursor: pointer;
    padding: 10px;
}

textarea {
    height: 15vh;
}
